@import url("https://use.typekit.net/eqi1vja.css");

@font-face {
  font-family: "Tiny5";
  src: url("/fonts/Tiny5-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pixelify Sans";
  src: url("/fonts/PixelifySans-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Doto";
  src: url("/fonts/Doto.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; 
}

@font-face {
  font-family: "Albert Sans";
  src: url("/fonts/AlbertSans.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: "Albert Sans", sans-serif;
}

.quote {
  padding-left: 1.75rem;
  border-left: 4px solid rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  font-style: italic;
  color: rgba(0,0,0, .6);
}

.caption {
  font-size: 0.95rem;
  font-style: italic;
  line-height: 140%;
  color: rgba(0,0,0, .6);
}

.animate-marquee {

  
  animation: marquee 10s linear infinite;
}

/* ---------------------------- */
/* -------- HTML elems -------- */
/* ---------------------------- */
b {
  font-weight: 600;
  color: rgba(0,0,0,0.88);
}

hr {
  /* margin-bottom: 1rem; */
}

p, ul {
  line-height: 155%;
}

li {
  line-height: 150%;
  margin-bottom: 0.3rem;
}

/* ---------------------------- */
/* --------- TITLES ----------- */
/* ---------------------------- */
h1, h2, h3, h4, h5, h6 {
  line-height: 110%;
}

.title-1 {
  font-family: "Doto", serif;
  font-size: 1.8rem;
}

.title-2 {
  font-family: "Doto", serif;
  font-size: 1.4rem; 
}

.title-3 {
  font-family: "Doto", serif;
  font-size: 1.125rem; 
}

.title-4 {
  /* font-family: "Albert Sans", sans-serif; */
  font-weight: 600;
  font-size: 1.1rem; 
  color: rgba(0,0,0,0.88);
  /* text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.75px; */
}

.title-4 {
  font-size: 1rem; 
  line-height: 100%;
  color: rgba(0,0,0,0.88);
}

/* Medium screens (md) - min-width: 768px */
@media (min-width: 768px) {
  .title-1 {
    /* font-size: 2rem;  */
  }
  .title-2 {
    /* font-size: 1.5rem;  */
  }
}

/* Large screens (lg) - min-width: 1024px */
@media (min-width: 1024px) {
  .title-1 {
    /* font-size: 2.22rem;  */
  }
  .title-2 {
    /* font-size: 1.6rem;  */
  }
  .title-3 {
  }
}

/* Extra Large screens (xl) - min-width: 1280px */
@media (min-width: 1280px) {
  .title-1 {
    /* font-size: 2.5rem; */
  }
  
}

/* Extra Large screens (xl) - min-width: 1280px */
@media (min-width: 1536px) {
  
}