@import url("https://use.typekit.net/eqi1vja.css");
@font-face {
  font-family: "Tiny5";
  src: url("/fonts/Tiny5-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pixelify Sans";
  src: url("/fonts/PixelifySans-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.case-study-desc {
  max-width: none;
}

body {
  font-family: "roc-grotesk", sans-serif;
  /* font-family: "Tiny5", sans-serif;
  font-family: "Pixelify Sans", sans-serif; */
  
}

hr {
  margin-bottom: 1rem;
}

p, ul {
  max-width: 650px;
  margin-bottom: 1rem;
  
}

h1,h2,h3,h4,h5,h6 {
  line-height: 110%;
  
  
}

h1 {
  font-size:1.8rem;
}
h2 {
  font-size: 1.4rem; 
  margin-bottom: 0.9rem;
}
h3 {
  font-weight: 600;
  font-size: 1.1rem; 
  margin-bottom: 0.9rem;
  color: rgba(0,0,0,0.88)
}

/* Medium screens (md) - min-width: 768px */
@media (min-width: 768px) {
  h1 {
    font-size: 2rem; 
  }
  h2 {
    font-size: 1.5rem; 
    margin-bottom: 1rem;
  }
}

/* Large screens (lg) - min-width: 1024px */
@media (min-width: 1024px) {
  h1 {
    font-size: 2.5rem; 
  }
  h2 {
    font-size: 1.6rem; 
    margin-bottom: 1.1rem;
  }
  h3 {
    font-size: 1.18rem; 
    margin-bottom: 0.9rem;
  }
}

/* Extra Large screens (xl) - min-width: 1280px */
@media (min-width: 1280px) {
  h1 {
    font-size: 2.5rem;
  }
  
}

/* Extra Large screens (xl) - min-width: 1280px */
@media (min-width: 1536px) {
  
}